@media(min-width:320px){
    .container{
        width: 100%;
    }
}

@media(min-width:760px){
    .container{
        width: 90%;
    }
}

@media(min-width:960px){
    .container{
        width: 80%;
    }
}